 <div class="container">
  <h1>My Cocktails</h1>
  <p style="text-align: right"> <%= link_to "+ Add Cocktail", new_cocktail_path(@cocktail)  %> </p>

  <% @cocktails.each do |cocktail| %>
    <ul style="list-style: none">
      <li> <%= link_to cocktail.name, cocktail_path(cocktail) %> <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe , cocktail_path(cocktail), method: :delete %> </li>
    </ul>
  <% end %>

<%= cl_image_tag("hw2h05m2yqg5l7olzw5e.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("v1558693420/dxifex5uisqgegesatsb.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

</div>


