<div class="container">
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Add Description", class: "btn btn-primary" %>
  <% end %>
</br>
  <%= link_to 'back', cocktail_path(@cocktail)  %>
</div>

